# To Test this code (which is required when commiting as well)
# these environment variables will need to be set

PORT=4000
ELASTIC_SEARCH_URL=http://localhost:9200
NODE_RED_URL=http://localhost:1880

ES_INDEX=flow