swagger: '2.0'
info:
  description: Ingest API
  version: 1.0.0
  title: SPG Ingest
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: luis.malave@samtec.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: samtec.com
basePath: /v1
tags:
  - name: channelTemplate
    description: Channel Template
  - name: channel
    description: Channel
schemes:
  - http
paths:
  /channelTemplates:
    get:
      tags:
        - channelTemplate
      summary: Find all instances of the model
      description: ''
      operationId: findAllChannelTemplates
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/ChannelTemplate'
    post:
      tags:
        - channelTemplate
      summary: Create new instance of the model
      description: ''
      operationId: addChannelTemplates
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: ID of Channel Template to return
          required: true
          schema:
            $ref: '#/definitions/ChannelTemplate'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/ChannelTemplate'
  '/channelTemplates/{id}':
    get:
      tags:
        - channelTemplate
      summary: 'Find a model instances by {id}'
      description: ''
      operationId: findOneChannelTemplate
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: ID of Channel Template to return
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/ChannelTemplate'
        '400':
          description: Invalid ID supplied
        '404':
          description: Not found
  /channel:
    get:
      tags:
        - channel
      summary: Find all instances of the model
      description: ''
      operationId: findAllChannels
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Channel'
    post:
      tags:
        - channel
      summary: Create new instance of the model
      description: ''
      operationId: addChannel
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: channelTemplateId
          type: string
          description: Channel Template Id
          required: true
        - in: body
          name: parameters
          description: Array of paramenters
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/Parameter'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Channel'
  '/channel/{id}':
    get:
      tags:
        - channel
      summary: 'Find a model instances by {id}'
      description: ''
      operationId: findOneChannel
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          description: ID of Channel Template to return
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/ChannelTemplate'
        '400':
          description: Invalid ID supplied
        '404':
          description: Not found
definitions:
  Parameter:
    type: object
    properties:
      key:
        type: string
      value:
        type: string
      editable:
        type: boolean
        description: If the parameter is editable in the UI.
        default: true
      visible:
        type: boolean
        description: If the parameter is visible in the UI.
        default: true
      type:
        type: string
        description: Based on HTML input type (https://developer.mozilla.org/en/docs/Web/HTML/Element/input) and other tags, not all types supported. 
        enum:
          #- button
          - checkbox
          #- color
          - date
          #- datetime-local
          - email
          #- file
          - hidden
          #- image
          - month
          - number
          - password
          - radio
          - range
          #- reset
          #- search
          #- submit
          #- tel
          - text
          - textArea
          - time
          - url
          - week
          - select
        default: text
      options:
        type: array
        description: List of options for types that require them (checkbox, select, radio, etc.).
        items:
          type: string
    required:
      - key
      - value
  Flow:
    type: object
    properties:
      label:
        type: string
      nodes:
        type: array
  ChannelTemplate:
    type: object
    properties:
      id:
        type: string
      version:
        type: string
      deprecated:
        type: boolean
        default: false
      name:
        type: string
      description:
        type: string
      flow:
        $ref: '#/definitions/Flow'
      parameters:
        type: array
        items:
          $ref: '#/definitions/Parameter'
    required:
      - name
      - description
      - flow
      - parameters
  Channel:
    type: object
    properties:
      id:
        type: string
      version:
        type: string
      templateId:
        type: string
      templateVersion:
        type: string
      name:
        type: string
      description:
        type: string
    required:
      - name
      - description
      - templateId
      - templateVersion
