// Side navigation styles

#sidenav{
  position: fixed;
  padding-left: 0;
  width: 300px;
  height: 100vh;
  margin: 0;
  list-style-type: none;
  padding-top: $header-height;
  background: rgb(124,228,251); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgb(124,228,251) 0%, rgb(37,100,211) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgb(124,228,251) 0%,rgb(37,100,211) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgb(124,228,251) 0%,rgb(37,100,211) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce4fb', endColorstr='#2564d3', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  ul {
    margin-bottom: 2em;
    margin-left: 0;
    padding-left: 0;
  }

  > nav {
    margin-top: 40px;
  }

  li {
    line-height: 1.8rem;
    padding: 0 20px;
    a {
      color: $primary-color;
      opacity: .7;
      transition: opacity .3s ease-out;
      white-space: nowrap;
      &:hover {
        opacity: 1;
      }
    }
  }

  .text-label {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 5px;
    opacity: .7;
  }

  .is-selected {
    background-color: rgba(66,136,183,.6);
    a {
      font-weight: 500;
    }
  }

  @include media-query($content-width) {
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;
    position: relative;

    nav {
      max-width: -webkit-calc(900px - (30px));
      max-width: calc(900px - (30px));
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      ul {
        flex: 1;
        margin-bottom: 35px;
      }

      li {
        list-style-type: none;
      }
    }

  }
} // -- end of #sidenav
