swagger: '2.0'
info:
  description: Ingest API
  version: 1.0.0
  title: SPG Ingest
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: luis.malave@samtec.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: samtec.com
basePath: /ingest/v1
tags:
  - name: flowTemplate
    description: Flow Template
  - name: flow
    description: Flow
schemes:
  - http
paths:
  /flowTemplates:
    get:
      tags:
        - flowTemplate
      summary: Find all instances of the model
      description: ''
      operationId: findAllFlowTemplates
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/FlowTemplate'
    post:
      tags:
        - flowTemplate
      summary: Create new instance of the model
      description: ''
      operationId: addFlowTemplates
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          description: ID of Flow Template to return
          required: true
          schema:
            $ref: '#/definitions/FlowTemplate'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/FlowTemplate'
  '/flowTemplates/{name}':
    get:
      tags:
        - flowTemplate
      summary: 'Find a model instances by {name}'
      description: ''
      operationId: findByIdFlowTemplate
      produces:
        - application/json
      parameters:
        - name: name
          in: path
          description: Name of Flow Template to return
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/FlowTemplate'
        '400':
          description: Invalid ID supplied
        '404':
          description: Not found
  /flow:
    get:
      tags:
        - flow
      summary: Find all instances of the model
      description: ''
      operationId: findAllFlows
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Flow'
    post:
      tags:
        - flow
      summary: Create new instance of the model
      description: ''
      operationId: addFlow
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: payload
          description: Array of paramenters
          schema:
            type: object
            required:
              - template
              - name
              - description
              - parameters
            properties:
              template:
                type: string
              name:
                type: string
              description:
                type: string
              parameters:
                type: array
                items:
                  $ref: '#/definitions/Parameter'
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Flow'
        '400':
          description: Invalid Flow Template Id or Parameter array supplied
  '/flow/{name}':
    get:
      tags:
        - flow
      summary: 'Find a model instances by {name}'
      description: ''
      operationId: findOneFlow
      produces:
        - application/json
      parameters:
        - name: name
          in: path
          description: ID of Flow Template to return
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Flow'
        '400':
          description: Invalid ID supplied
        '404':
          description: Not found
definitions:
  Parameter:
    type: object
    properties:
      key:
        type: string
      value:
        type: string
    required:
      - key
      - value
  Flow:
    type: object
    properties:
      label:
        type: string
      nodes:
        type: array
  FlowTemplate:
    type: object
    properties:
      id:
        type: string
      version:
        type: string
      deprecated:
        type: boolean
        default: false
      name:
        type: string
      description:
        type: string
      flow:
        $ref: '#/definitions/Flow'
      parameters:
        type: array
        items:
            type: string
    required:
      - name
      - description
      - flow
  Flow:
    type: object
    properties:
      id:
        type: string
      version:
        type: string
      template:
        type: string
      templateVersion:
        type: string
      name:
        type: string
      description:
        type: string
      parameters:
        type: array
        items:
          $ref: '#/definitions/Parameter'
    required:
      - name
      - description
      - template
      - parameters
